
   
   *{ 
        margin:0;
        padding: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        

body {
    background-image: url(./WhatsApp\ Image\ 2024-01-18\ at\ 22.37.33_50cf5524.jpg);
    background-size: cover;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    width: 85;
    margin: 0;
    padding: 35 0;
    display: flex  ;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;
    border-radius: 5px;
}


.text {
    margin-left: 30px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(70, 70, 70);
}


a{
    text-decoration: none;
    color: white;
    background-color: rgb(31, 111, 250);
    border-radius: 5px;
    padding: 5px;
}

a:hover {
    background-color: rgb(90, 245, 237);
}